body {
		background-image: url(https://pixabay.com/zh/photos/blue-berries-berries-healthy-fruit-3432295/);
		background-repeat: no-repeat; /* Do not repeat the image */
		background-size: cover; /* Resize the background image to cover the entire container */

		background-color: #65869a;
		
		font-family: 'Zen Dots', cursive;
	}

img { width:300px; }

	.text-center {
		text-align: center;
	}